title = "Statistics"
url = "/statistics/:page?"
layout = "right-sidebar"
is_hidden = 0

[statistics]
noRecordsMessage = "No records found"
detailsPage = "-"
viewAll = "statistics"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 16
pageNumber = "{{ :page }}"
==
<div class="col-md-9 col-sm-12">
    <!--START RIGHT SIDEBAR CONTENTE SECTION-->
    <div class="right-sidebar-content div-match-height">
        <h1 class="page-title">Statistics</h1>
        <ul class="publications-listing press-release howdoi">
            {% for statistic in statistics %}
             <li>{{ statistic.title }} = {{ statistic.value }}</li>
            {% endfor %}
        </ul>
        <nav class="text-center">
                        {% if statistics.lastPage > 1 %}
                        <ul class="pagination">
                            {% if statistics.currentPage > 1 %}
                                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (statistics.currentPage-1) }) }}">&larr; Prev</a></li>
                            {% endif %}
                    
                            {% for page in 1..statistics.lastPage %}
                                <li class="{{ statistics.currentPage == page ? 'active' : null }}">
                                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                                </li>
                            {% endfor %}
                    
                            {% if statistics.lastPage > statistics.currentPage %}
                                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (statistics.currentPage+1) }) }}">Next &rarr;</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </nav>
	</div>
</div>