                /**
     * ----------------------------------------------------------------
     * Header CSS
     * Author: Daniel Chikaka
     * Email: daniel.chikaka@ega.go.tz
     * ----------------------------------------------------------------
  */
                
                .top-bar-menu {
                    height: auto;
                    background-color: $gray-base;
                    span {
                        color: #fff;
                        margin-top: em(6);
                        .icon-phone {
                            position: relative;
                            top: em(5);
                            font-size: em(24);
                        }
                    }
                    ul {
                        margin-bottom: 0;
                        padding-top: 4px;
                    }
                    ul.top-menu {
                        text-align: right;
                        padding-top: em(12);
                        li {
                            list-style-type: none;
                            display: inline-block;
                            margin-left: em(15);
                            a {
                                color: darken(#fff, 15%);
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .lang {
                        text-align: right;
                        text-align: right;
                        padding-top: 0.58em;
                        a {
                            color: #fff;
                        }
                        // form {
                        //     select {
                        //         padding: em(12);
                        //         padding-right: 0px;
                        //         border: 0px;
                        //         text-transform: uppercase;
                        //         background-color: transparent;
                        //         color: #fff;
                        //         cursor: pointer;
                        //         &:focus,
                        //         &:active,
                        //         &:hover {
                        //             outline: 0;
                        //         }
                        //     }
                        //     option {
                        //         background-color: $brand-primary;
                        //         padding: em(5) 0;
                        //         border: 0px solid transparent;
                        //         &:hover {
                        //             background-color: $darkblue;
                        //         }
                        //     }
                        // }
                    }
                    #search-form {
                        form {
                            text-align: right;
                            position: relative;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            -webkit-transition: none;
                            -o-transition: none;
                            transition: none;
                            input {
                                @include borderRadius(0px);
                                margin-right: 0px;
                                height: em(50);
                                margin-top: 0px;
                                width: 100%;
                                padding-right: em(30);
                                color: #fff;
                                border: 0px solid #eee;
                                // background-color: darken($brand-primary, 6%);
                                background-color: lighten($gray-base, 30%);
                                &:focus {
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                }
                                @include placeholder {
                                    color: #fff !important;
                                }
                            }
                            .icon {
                                position: absolute;
                                top: em(10);
                                right: em(10);
                                color: #fff;
                            }
                        }
                    }
                }
                
                #header {
                    position: relative;
                    height: auto;
                    display: inline-block;
                    background-color: #fff;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    width: 100%;
                    .banner {
                        background-color: #fff;
                        width: 100%;
                        height: auto;
                        // display: inline-block;
                        background-image: url("../images/banner.jpg");
                        background-repeat: no-repeat;
                        height: 130px;
                        padding: 0.7em 0;
                    }
                    .ngao {
                        // padding: 10px 0;
                        margin: 0px;
                        position: relative;
                        // margin-bottom: em(15);
                    }
                    .logo {
                        // padding: 10px 0;
                        margin: 0px;
                        position: relative;
                        // margin-bottom: em(15);
                        float: right;
                    }
                    .board-logo {
                        padding-right: 0px;
                        position: relative;
                        margin: 0px 0 0px;
                        text-align: right;
                    }
                    h1 {
                        margin: 0px;
                        margin-top: em(8);
                        text-align: center;
                        font-size: em(36);
                        text-shadow: 1px 2px 5px #000;
                        color: #fff;
                        small {
                            font-size: em(10);
                            color: #fff;
                            display: block;
                            line-height: 1.4;
                        }
                    }
                }
                /**
         * ------------------------------------------------------------
         * Media Query Max Width 767
         * ------------------------------------------------------------
    */
                
                @media(max-width: 767px) {
                  #header{
                    .banner{
                          background-image: none;
                    }
                        .logo {
                        text-align: center;
                        float: none;
                    }

                        h1{
                        color: $brand-primary;
                        text-shadow: none;
                        small{
                            color: $brand-primary;
                        }
                        margin-bottom: 0.5em;
                    }

                  }
                    .tagline {
                        text-align: center;
                        ul.pull-right {
                            float: none !important;
                        }
                    }

                }
                /**
         * ------------------------------------------------------------
         * Media Query Min Width 768
         * ------------------------------------------------------------
    */
                
                @media(min-width: 768) {}
                /**
         * ------------------------------------------------------------
         * Media Query Min Width 992
         * ------------------------------------------------------------
    */
                
                @media(min-width: 992px) {
                    .top-bar-menu ul.top-menu {
                        position: relative;
                        top: 30px;
                    }
                }
                /**
         * ------------------------------------------------------------
         * Media Query Min Width 1200px
         * ------------------------------------------------------------
    */
                
                @media(min-width: 1200px) {
                    .top-bar-menu ul.top-menu {
                        position: initial;
                        top: 0;
                    }
                }
