/**
     * ----------------------------------------------------------------
     * Slider News SCSS
     * Author: Daniel Chikaka & Donald V Assey
     * Email: donald.assey@ega.go.tz
     * ----------------------------------------------------------------
  */

.cycle-caption {
    display: none;
}

.cycle-overlay p{margin:0}

.slider-bg {
    background-color: #005faf;
}

.profile {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ddd;
    img {
        // margin-top: 20px;
        width: 100%;
        margin-bottom: 5px;
    }
    a {
        margin: 5px;
        padding: 5px 24%;
        // color: #fff;
        // background-color: #888888;
    }
    p {
        line-height: 1.8;
    }
}

.cycle-slideshow {
    z-index: 1;
    margin-bottom: 0;
    /* padding: 25px 0; */
    margin: 0px;
    // height: 470px;
    position: relative;
    img {
        z-index: 1 !important;
        height: 450px;
        width: 100%;
        // webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        // -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        // box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        background-color: #fff;
        // padding: 6px;
        // border: 1px solid #ccc;
        padding-top: 20px;
        padding-right: 5px;
        padding-bottom: 20px;
        display: none;
    }
    /* &:before {
            z-index: -1;
            position: absolute;
            content: "";
            bottom: 15px;
            left: 10px;
            width: 50%;
            top: 80%;
            max-width: 300px;
            background: #777;
            -webkit-box-shadow: 0 15px 10px #777;
            -moz-box-shadow: 0 15px 10px #777;
            box-shadow: 0 15px 10px #777;
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
        } */
}

.cycle-overlay {
    position: absolute;
    bottom: 20px;
    display: none;
    margin: 0;
    border-radius: 0;
    width: 99.35%;
    left: 0px;
    z-index: 99999999999999 !important;
    background: rgba(255, 255, 255, 0.31);
    background-color: rgba(27, 40, 51, 0.5);
    /* background-color: rgba(52, 152, 219, 0.28); */
    color: white;
    padding: 15px;
    div {
        &:first-child {
            font-size: 24px;
            // font-family:  $headings-font-family;
        }
    }
    p{
        padding: 0px;
        margin: 0px;
    }
}

.cycle-pager {
    position: absolute;
    bottom: 0.1em;
    z-index: 150;
    color: $brand-primary;
    right: 50%;
    font-size: 50px;
    line-height: 10px;
    span {
        cursor: pointer;
    }
    .cycle-pager-active {
        color: $brand-secondary;
    }
}

.cycle-prev {
    position: absolute;
    top: 42%;
    z-index: 99999999999999 !important;
    left: 10px;
    color: #fff;
    display: none;
    font-size: 30px;
    cursor: pointer;
    &:hover {
        color: $brand-primary;
    }
}

.cycle-next {
    position: absolute;
    top: 42%;
    right: 0px;
    display: none;
    right: 15px;
    z-index: 99999999999999 !important;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    &:hover {
        color: $brand-primary;
    }
}

.icon-slider {
    font-size: 30px;
}

.loading {
    background-image: url('../images/loader.png');
    background-repeat: no-repeat;
    background-position: center center;
    // z-index: 9999;
}

.flight-booking-form-wrapper {
    position: absolute;
    right: 50%;
    border: 1px solid #eee;
    border-top: 4px solid $brand-secondary;
    margin-right: -570px;
    top: em(60);
    z-index: 998;
    width: em(400);
    background-color: #fff;
    padding: em(20);
    min-height: 400px;
    h1 {
        margin: 0px;
        font-size: em(30);
        z-index: 998;
        margin-bottom: em(10);
        // color: $brand-secondary;
    }
    p {
        z-index: 998;
    }
    .nice-select {
        width: 100%;
        line-height: 15px;
        .list {
            width: 100%;
        }
    }
}


/**
     * ------------------------------------------------------------
     *  Slider Bio with   two Profiles 
     * ------------------------------------------------------------
*/
.profile{


.nopadding-left{
        padding-top: 2em;
}

.nopadding-right{
        padding-left: 2em;
        padding-top: 0.2em;
}

}

ul.profiles-many{
    padding: 0;
    li{
        list-style-type: none;
        &:first-child{
                margin-bottom: 2em;
        }
    }
}



/**
         * ------------------------------------------------------------
         * Media Query Max Width 767
         * ------------------------------------------------------------
    */

@media(max-width: 767px) {
    .slider-booking-wrapper {
        background-color: #e2f2ff;
        background-repeat: no-repeat;
        background-size: cover;
        // background-color: $mid-blue;
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: em(-5);
        z-index: 1;
        padding: em(20) em(15);
        // text-align: center;
    }
    .flight-booking-form-wrapper {
        position: initial;
        border-top: 4px solid $brand-secondary;
        margin: 0 auto;
        top: em(60);
        z-index: 998;
        width: 100%;
        background-color: #fff;
        padding: em(20);
        min-height: 450px;
        h1 {
            margin: 0px;
            font-size: em(30);
            z-index: 998;
            margin-bottom: em(10);
            color: $brand-secondary;
        }
        p {
            z-index: 998;
        }
    }
}


/**
         * ------------------------------------------------------------
         * Media Query Min Width 768
         * ------------------------------------------------------------
    */

@media(min-width: 768px) {
    .flight-booking-form-wrapper {
        position: relative;
        right: 0%;
        margin-right: 0px;
        width: auto;
        top: em(0);
        margin-bottom: em(60);
    }
    .slider-booking-wrapper {
        .cycle-pager {
            bottom: 1.5em;
        }
    }
}


/**
         * ------------------------------------------------------------
         * Media Query Min Width 992
         * ------------------------------------------------------------
    */

@media(min-width: 992px) {
    .flight-booking-form-wrapper {
        right: 0;
        margin-right: 0px;
        top: em(60);
    }
}


/**
         * ------------------------------------------------------------
         * Media Query Min Width 1200px
         * ------------------------------------------------------------
    */

@media(min-width: 1200px) {
    .flight-booking-form-wrapper {
        /* right: 50%;
        margin-right: -570px; */
    }
}
