title = "gallery"
url = "/gallery/:page?"
layout = "right-sidebar"
is_hidden = 0

[GalleryList]
noRecordsMessage = "No records found"
detailsPage = "sinlge-gallery"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 2
pageNumber = "{{ :page }}"
==
<div class="col-md-9 col-sm-9">
    <!--START RIGHT SIDEBAR CONTENTE SECTION-->
    <div class="right-sidebar-content div-match-height">
     	<h1 class="page-title">{{ 'Gallery'|_ }}</h1>
		{% set galleries = GalleryList.galleries %}
{% set noRecordsMessage = GalleryList.noRecordsMessage %}
{% set detailsPage = GalleryList.detailsPage %}
{% set detailsKeyColumn = GalleryList.detailsKeyColumn %}
{% set detailsUrlParameter = GalleryList.detailsUrlParameter %}
<ul class="gallery-listing">
                                
<ul class="gallery-listing">
    {% for gallery in galleries %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(gallery, detailsKeyColumn) }) }}">
                {% endif %}
                 <img src="{{ gallery.gallery_images[0].thumb(200,200,'crop') }}" alt="">
                        <h4>{{ gallery.title }}</h4> </a>
                    <hr> <span class="date-time"> {{ gallery.created_at|date("M d, Y") }} <span class="pull-right">{{ gallery.gallery_images|length }} Pics</span></span>
                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </li>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</ul>

{% if galleries.lastPage > 1 %}
    <ul class="pagination">
        {% if galleries.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (galleries.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..galleries.lastPage %}
            <li class="{{ galleries.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if galleries.lastPage > galleries.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (galleries.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}
	</div>
</div>