description = "A partial to display sidebar news and announcements"

[viewBag]

[Announcement]
noRecordsMessage = "No records found"
detailsPage = "single-announcement"
viewAll = "announcements"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 5
pageNumber = "{{ :page }}"

[AllNews]
noRecordsMessage = "No records found"
detailsPage = "single-news"
viewAll = "news"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 5
pageNumber = "{{ :page }}"
==
<div class="right-sidebar-wrapper">
    <div class="right-sidebar-container right-sidebar-aligner">

        <!--START ANNOUNCEMENTS SIDEBAR-->
        <h2>{{ 'Latest Announcements'|_ }} </h2>
        {% set announcements = Announcement.announcements %} 
        {% set noRecordsMessage = Announcement.noRecordsMessage %}
        {% set detailsPage = Announcement.detailsPage %}
        {% set viewAll = Announcement.viewAll %}
        {% set detailsKeyColumn = Announcement.detailsKeyColumn %}
        {% set detailsUrlParameter = Announcement.detailsUrlParameter %}
        
        <ul class="sidebar-announcements-listing">
        	{% for announcement in announcements %}
        	  <li>
                <h4>{{ announcement.title }}</h4>
                {% spaceless %}
                	{% if detailsPage %}
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(announcement, detailsKeyColumn) }) }}">
                    {% endif %}
                    {{ 'read more'|_ }}
        	        </a>
        		{% endspaceless %}
            </li>
            
            {% else %}
                <li class="no-data">{{ noRecordsMessage }}</li>
            {% endfor %}
            <a href="{{ viewAll|page() }}" style="margin-left: 10px" class="view-more">{{ 'View More'|_ }}</a>
        </ul>
        <!-- /.sidebar-announcements-listing -->
        <!--/END ANNOUNCEMENTS SIDEBAR-->

        <!--TOURISM AND ATTRACTION-->
        <h2>{{ 'Latest News'|_ }}</h2>
        {% set  news = AllNews. news %} 
        {% set noRecordsMessage = AllNews.noRecordsMessage %}
        {% set detailsPage = AllNews.detailsPage %}
        {% set viewAll = AllNews.viewAll %}
        {% set detailsKeyColumn = AllNews.detailsKeyColumn %}
        {% set detailsUrlParameter = AllNews.detailsUrlParameter %}


      
        <ul class="tourism-listing">
        {% for singlenews in  news %}
             <li>
                 {% if detailsPage %}
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(singlenews, detailsKeyColumn) }) }}"> 
                    <img src="{{ singlenews.url.thumb(100,80,'crop') }}" alt=""> {{ singlenews.title }}</a>
                {% endif %}
            </li>
        {% else %}
            <li>{{ noRecordsMessage }}</li>     
        {% endfor %}
        <a href="{{ viewAll|page() }}" class="view-all" style="margin-left: 10px">{{ 'More'|_ }}</a>
        </ul>
        <!--/END OF TOURISM AND ATTRACTION-->
    </div>
    <!-- /.right-sidebar-container -->
</div>
<!-- /.left-sidebar-wrapper -->