/**
    * ------------------------------------------------------------
    * Videos Page
    * ------------------------------------------------------------
*/

ul.gallery-listing {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    li {
        list-style-type: none;
        //        display: inline-block;
        //        width: 100%;
        @include gallery(3.1 of 6.2);
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 0px dashed #ddd;
        a {
            position: relative;
            color: $gray-base;
            &:active,
            &:visited,
            &:focus {
                outline: 0;
                border: none;
                text-decoration: none !important;
            }
            &:hover {
                color: $link-color;
            }
            img {
                width: 100%;
                height: 200px;
                padding: 4px;
                margin-bottom: 6px;
                float: none;
                background-color: #fff;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                -moz-border-radius: 2px;
            }
            img.lazy {
                width: 100%;
                height: 200px;
            }
            span {
                .icon-play-circle {
                    font-size: 40px;
                    position: absolute;
                    bottom: 30%;
                    left: 42%;
                    color: red;
                }
            }
        }
        h4 {
            margin-bottom: 6px;
            line-height: 22px;
            font-size: 16px;
            display: initial;
        }
        p {
            display: initial;
        }
        span {
            display: block;
        }
    }
}


/**
	* ------------------------------------------------------------
	* Video Plugin Cuustomization
	* ------------------------------------------------------------
*/

.mfp-title {
    position: absolute;
    color: #fff;
    background: transparent;
    width: 100%;
    font-size: 18px;
    //	padding: 10px 15px;
}


/**
	* ------------------------------------------------------------
	* Single Gallery
	* ------------------------------------------------------------
*/

.popup-gallery {
    //    padding-left: span(1);
    a {
        img {
            margin-bottom: 4px;
            width: 200px;
            height: 200px;
        }
    }
}