/**
    * ------------------------------------------------------------
    * News Page
    * ------------------------------------------------------------
*/

//news lists we have copied the home news with its div. The shit was not working so we f** it 

/**
	* ------------------------------------------------------------
	* Single News
	* ------------------------------------------------------------
*/

.article-head {
    img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    margin-bottom: 15px;
}

h1.inner-page-title {
    margin-bottom: 15px;
    text-transform: none;
}