/**
     * ----------------------------------------------------------------
     * Notice Board
     * Author: Daniel Chikaka
     * Email: daniel.chikaka@ega.go.tz
     * ----------------------------------------------------------------
*/

.notice-board{
	@extend .publications;
	
	ul.notice-board-listing{
		
		@extend ul.publications-listing;
		
		li {
			position: relative;
			padding-left: 20px;
			.icon-bell-o {
				position: absolute;
				left: 0px;
				font-size: 26px;
			}
			a {
				display: block;
				margin-bottom: 10px;
			}
			span{
				margin-left: 20px;
			}
		}
	}
}