/**
     * ------------------------------------------------------------
     * Biography
     * ------------------------------------------------------------
*/

.bio-top {

    text-align: center;
        padding-top: 15px;

    img{
        margin-bottom: 6px;
    }
}

.bio-inner-content{
    h4{
        margin: 15px 0 4px 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
    }
}