/**
     * ----------------------------------------------------------------
     * Board Members
     * Author: Daniel Chikaka
     * Email: daniel.chikaka@ega.go.tz
     * ----------------------------------------------------------------
*/

.board-members {
	ul.board-members-listing {
		padding: 0;
		margin: 0;
		    position: relative;
    right: 0px;
		li {
			list-style-type: none;
			margin-bottom: 20px;
			@include gallery(2.9 of 12);
			img {
				width: 215px;
				height: 240px;
				border-radius: 2px;
				padding: 4px;
				margin-bottom: 5px;
				background-color: #fff;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, 0.2);
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
			}
			img.lazy {
				width: 215px;
				height: 240px;
			}
			p{
				margin: 0px;
			}
		}
	}
}
