/**
    * ------------------------------------------------------------
    * The Press Release
    * ------------------------------------------------------------
*/

.press-release {
    span {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

ul.publications-listing {
    padding: 0px;
    li {
        list-style-type: none;
        position: relative;
        padding-left: 50px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #ddd;
        a {
            color: $gray-base;
            &:hover {
                color: $link-color;
            }
            i {
                position: absolute;
                top: 0px;
                left: 0px;
                font-size: 40px;
            }
            p {
                margin: 0;
            }
        }
    }
}

ul.announcements {
    li {
        padding-left: 0 !important;
    }
}