/**
     * ----------------------------------------------------------------
     * Events
     * Author: Daniel Chikaka
     * Email: daniel.chikaka@ega.go.tz
     * ----------------------------------------------------------------
*/
ul.events-lists{
  padding: 0px;
      li {
        display: inline-block;
        width: 100%;
        list-style-type: none;
        padding-bottom:10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;
        span {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0.3125em;
            color: #000;
            display: block;
            font-family: Georgia;
            text-transform: none;
        }
        .event-date {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 12.5%;
            float: left;
            text-align: center;
            color: #148d37;
            font-family: Georgia;
        }
        .event-text {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 80%;
            float: right;
            h4 {
                margin: 0px;
                color: $link-color;
                @extend .title-spacing;
                margin-bottom: 5px;
                line-height: 22px;
                font-size: 18px;
                font-family: $font-family-base;
                font-weight: 400;
                &:hover {
                    color: $addon-color;
                    text-decoration: none;
                }
            }
            p {
                margin: 0px;
                font-weight: 600;
            }
        }
    }
}




/**
     * ------------------------------------------------------------
     * Single Event
     * ------------------------------------------------------------
*/

.single-event{

  ul{
    padding: 0px;
    li{
      list-style-type: none;

    }
  }

}
