/**
    * ------------------------------------------------------------
    * Main Content General Styling
    * ------------------------------------------------------------
*/

.home-main-content-wrapper {
    @include span(6 of 12);
}

.home-content-title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 5px;
    background-color: $brand-primary;
    color: #fff;
    display: inline-block;
    padding: 6px 15px;
}

hr.home-content-hr {
    border-width: 1px;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    margin-top: -6px;
    margin-bottom: 10px;
    border-color: $brand-primary;
    border-color: $brand-primary;
}

/**
     * ------------------------------------------------------------
     * Home Middle and Sidebar
     * ------------------------------------------------------------
*/
.home-middle-sidebar-wrapper{
    @include span(9 of 12 last);
}


/**
    * ------------------------------------------------------------
    * Welcome Note
    * ------------------------------------------------------------
*/

.welcome-note {
    position: relative;
    // margin: 15px 0 15px 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top: 20px;
}


/**
    * ------------------------------------------------------------
    * Home News
    * ------------------------------------------------------------
*/

.home-news-wrapper {
    position: relative;
    // padding: 0 0 0 15px;
    .view-all {
        position: absolute;
        top: 10px;
        right: 0px;
    }
}

ul.home-news-lists {
    margin-top: 10px;
    padding: 0px;
    li {
        list-style-type: none;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 0.0625em dashed #ececec;
        a {
            padding-left: 0px;
            display: initial;
            img {
                width: 200px;
                height: 140px;
                float: left;
                margin-right: 10px;
                &:hover {
                    opacity: 0.9;
                    // @include transition(0.6s);
                    // border: 1px solid $link-color;
                    ;
                }
            }
            img.lazy {
                width: 200px;
                height: 140px;
            }
            h4 {
                margin: 0px;
                @extend .title-spacing;
                margin-bottom: 0px;
                line-height: 20px;
                font-size: 14px;
                font-family: $font-family-base;
                font-weight: 300;
                color: $link-color;
                &:hover {
                    color: $link-hover-color;
                    text-decoration: none;
                }
            }
        }
        span {
            // font-family: Georgia;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: arial;
            color: 600;
        }
        p {
            margin: 0px;
        }
        &:last-child {
            border-bottom: 1px solid #ddd;
        }
    }
}


/**
    * ------------------------------------------------------------
    * Home Page Mini Footer Wrapper
    * ------------------------------------------------------------
*/

.home-page-min-footer-wrapper {
    ul.home-mini-footer-listing {
        padding: 0px;
        li {
            list-style-type: none;
            @include gallery(3 of 12);
            .home-mini-footer-container {
                padding: 15px;
                h4 {
                    margin: 0px;
                    background-color: $brand-primary;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 14px;
                    text-align: center;
                }
                img {
                    width: 100%;
                    height: 160px;
                    margin-bottom: 5px;
                }
                ul.home-mini-content-listing {
                    padding: 0px;
                    li {
                        list-style-type: none;
                        width: auto !important;
                        float: none;
                        margin-right: 0px;
                        margin-left: 0px;
                        margin-bottom: 5px;
                        a {
                            i {
                                position: relative;
                                top: 1px;
                                left: 0px;
                            }
                        }
                    }
                }
                .home-videos {
                    img {
                        height: 200px;
                    }
                    a {
                        i {
                            top: 35%;
                        }
                    }
                }
            }
        }
    }
}


/**
    * ------------------------------------------------------------
    * Home Video
    * ------------------------------------------------------------
*/

.home-videos {
    position: relative;
    a {
        img {
            width: 100%;
        }
        i {
            position: absolute;
            top: 45%;
            left: 40%;
            font-size: 50px;
        }
    }
}


/**
    * ------------------------------------------------------------
    * Home Main Content Sidebar
    * ------------------------------------------------------------
*/

ul.ads-listing {
    border-top: 0px;
    padding: 0px;
    li {
        list-style-type: none;
        position: relative;
        margin-bottom: 6px;
        border-bottom: 1px dashed #ddd;
        padding: 0px 10px 6px 10px;
        margin-right: -20px;
        p {
            margin: 0px;
        }
        a {
            //            color: $gray-base;
            //            &:hover {
            //                color: $link-color;
            //            }
            i {
                position: absolute;
                left: 5px;
                top: 1px;
            }
        }
    }
}


/**
    * ------------------------------------------------------------
    * Home Projects
    * ------------------------------------------------------------
*/

.home-events-wrapper {
    @extend .home-news-wrapper;
}

ul.home-events-lists {
    @extend ul.home-news-lists;
    li {
        display: inline-block;
        width: 100%;
        span {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0.3125em;
            color: #000;
            display: block;
            font-family: Georgia;
            text-transform: none;
        }
        .event-date {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 12.5%;
            float: left;
            text-align: center;
            color: #148d37;
            font-family: Georgia;
        }
        .event-text {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 80%;
            float: right;
            h4 {
                margin: 0px;
                color: $link-color;
                @extend .title-spacing;
                margin-bottom: 5px;
                line-height: 22px;
                font-size: 14px;
                font-family: $font-family-base;
                font-weight: 400;
                &:hover {
                    color: $addon-color;
                    text-decoration: none;
                }
            }
            p {
                margin: 0px;
                font-weight: 600;
            }
        }
    }
}


/**
    * ------------------------------------------------------------
    * Home How Do I
    * ------------------------------------------------------------
*/

.home-howdo-i-wrapper {
    @extend .home-events-wrapper;
    @include span(4 of 12 last);
}

ul.home-howdo-i-lists {
    @extend ul.home-events-lists;
    li {
        position: relative;
        padding-left: 16px;
        a {
            .icon {
                position: absolute;
                left: 0;
                top: 6px;
                font-size: 13px;
            }
        }
    }
}
